@import "mdb-react-ui-kit/dist/css/mdb.min.css";
@import "@fortawesome/fontawesome-free/css/all.min.css";
@import "./components/home";
@import "./components/navbar";
@import "./components/contact";
@import "./components/myprojects";
@import "./components/darkmode";
@import "./components/cvbutton";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
